<ion-view title="Developer Tools">
  <ion-content>
    <div class="list">
      <!-- Would you helpers -->
      <div class="item item-divider">
        Would You?
      </div>
      <a class="item" href="" ng-click="clearWouldYouSession()">
        Clear Would You? Session
      </a>
      <a class="item" href="" ng-click="clearWouldYouQuestions()">
        Nuke Would You? in DB
      </a>
      <a class="item" href="" ng-click="window.plugins.emailComposer.showEmailComposerWithCallback(null,'test','a body',['seb@myneighbor.com'],null,null,false,null,null)">
      Test email
      </a>
    </div>
  </ion-content>
</ion-view>
