.hide-footer .bar-footer, .hide-footer .tabs {
display: flex;
}
.hide-footer .has-footer, .hide-footer .has-tabs {
bottom: 44px;
}
.bar .title {
	text-overflow:initial;//prevent title bars from having ellipses
}

//SHORT FOOTER 
$short-height:44px;
.icon-bar {
	padding:0px;
  .button {
    font-size:22px;
  }
  .button.button-large {
    font-size:30px;
    height:50px;
    width:50px;
    line-height:50px;
    background-color:$white;
    border:1px solid $positive;
    margin-top:-15px;
    border-radius:100%;
    color:$positive;
    @include flex(0 0 50px);
    padding:0px 4px;
    &.left {
      margin-left:5px;
    }
    &.right{
      margin-right:5px;
    }
  }
}
